body
{
	background-color: #d3d3d3
}

.login-button
{
	padding: 10px;
	margin: 5px;
	width: 50px;
	text-align: center;
}

.login-form{
	margin: 140px 150px;
	content: center;
	width: 100px;
	padding: 10px;
	background-color: greenyellow;
	width: auto;

}

.in-row
{
	display: flex;
	background: orangered;
	margin: auto;
}
div img {
	margin: auto;
	background-color: green;
	border: 10px;
}
.app-name
{
	font-style: oblique;
	font-size: 50px;
	text-align: center;
}
.the-form
{
	background-color: blueviolet;
}
form{
	background-color: white;
	text-align: center;
	margin: 140px 150px;
	margin-block: 150px;
}
form input
{
	padding: 10px;
	border-style: outset;
	padding-block: inherit; 
}